.changepassword{
	.savebutton{
		float: right;
	    width: 50%;
	    height: 70%;
	    margin-top: 5px;
	    --background: #253a61;
	    --color: #ffffff;
	}
	.item_background{
		margin-bottom: 8% !important;
	    --background: #e0e0e0;
	}
}