.login {
  .MuiContainer-root {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    max-width: 100% !important;
  }

  .makeStyles-paper-1 {
    margin: 0 !important;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100% !important;
    p {
      color: #a5a5a5 !important;
    }
  }

  &-logo {
    width: 145px;
    height: 145px;
  }

  .MuiFormLabel-root {
    color: #a5a5a5 !important;
  }
}
