.login {
  .MuiContainer-root {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    max-width: 100% !important;
  }

  .makeStyles-paper-1 {
    margin: 0 !important;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100% !important;
    p {
      color: #a5a5a5 !important;
    }
  }

  &-logo {
    width: 145px;
    height: 145px;
  }

  //   .MuiInputBase-root {
  //     color: rgb(255, 255, 255) !important;
  //   }
  .MuiFormLabel-root {
    color: #a5a5a5 !important;
  }

  //   .MuiOutlinedInput-notchedOutline {
  //     border-color: #a5a5a5 !important;
  //   }
  //   .input-color {
  //     color: #a5a5a5 !important;
  //   }
}
